{% extends "base.html" %}

{% block title %}Employee Add{% endblock title %}

{% block body %}
  <h1>Employee Add</h1>
  <form method="POST">
    <div class="mb-3">
      <label for="first_name_id" class="form-label">First Name:</label>
      <input
        type="text"
        class="form-control"
        id="first_name_id"
        name="first_name"
        placeholder="First Name"
        value="{{ first_name }}"
      >
      <div id="first_name_help_id" class="form-text">
        First Name of New Employee
      </div>
    </div>

    <div class="mb-3">
      <label for="last_name_id" class="form-label">Last Name:</label>
      <input
        type="text"
        class="form-control"
        id="last_name_id"
        name="last_name"
        placeholder="Last Name"
        value="{{ last_name }}"
      >
      <div id="last_name_help_id" class="form-text">
        Last Name of New Employee
      </div>
    </div>

    <div class="mb-3">
      <label for="weekly_salary_id" class="form-label">Weekly Salary:</label>
      <input
        type="text"
        class="form-control"
        id="weekly_salary_id"
        name="weekly_salary"
        placeholder="Weekly Salary"
        value="{{ weekly_salary }}"
      >
      <div id="weekly_salary_help_id" class="form-text">
        Weekly Salary of New Employee
      </div>
    </div>

    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="test_check_id"
        name="test_check"
        value="foobarbaz"
        {# You would want to check for whether the checkbox should be checked #}
        {# Not just a blanket True. EX: If beverage.active #}
        {% if True %}
          checked
        {% endif %}
      >
      <label for="test_check_id" class="form-check-label">Test check</label>
      <div id="test_check_help_id" class="form-text">Test check help text</div>
    </div>

    <button class="btn btn-success" type="submit">Add</button>
    <a href="{{ url_for('employee_list_view') }}" class="btn btn-secondary">
      Cancel
    </a>

  </form>
{% endblock body %}