{% extends "base.html" %}

{% block title %}Employee Edit{% endblock title %}

{% block body %}
  <h1>Employee Edit</h1>
  <form method="POST">
    <div class="mb-3">
      <label for="first_name_id" class="form-label">First Name:</label>
      <input
        type="text"
        class="form-control"
        id="first_name_id"
        name="first_name"
        placeholder="First Name"
        value="{{ employee.first_name }}"
      >
      <div id="first_name_help_id" class="form-text">
        First Name of Existing Employee
      </div>
    </div>

    <div class="mb-3">
      <label for="last_name_id" class="form-label">Last Name:</label>
      <input
        type="text"
        class="form-control"
        id="last_name_id"
        name="last_name"
        placeholder="Last Name"
        value="{{ employee.last_name }}"
      >
      <div id="last_name_help_id" class="form-text">
        Last Name of Existing Employee
      </div>
    </div>

    <div class="mb-3">
      <label for="weekly_salary_id" class="form-label">Weekly Salary:</label>
      <input
        type="text"
        class="form-control"
        id="weekly_salary_id"
        name="weekly_salary"
        placeholder="Weekly Salary"
        value="{{ employee.weekly_salary }}"
      >
      <div id="weekly_salary_help_id" class="form-text">
        Weekly Salary of Existing Employee
      </div>
    </div>

    <button class="btn btn-success" type="submit">Update</button>
    <a href="{{ url_for('employee_list_view') }}" class="btn btn-secondary">
      Cancel
    </a>

  </form>
{% endblock body %}
